body {
  font-size: 100%;
	font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
  color: #333;
}

body, th, td, textarea, select, h1, h2, h3, h4, h5, h6, p {
  font-size-adjust: 0.5;
  margin: 0;
  padding: 0;
}

#content h2 {
  border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

#page {
  font-size: 1em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    line-height: 1.375;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636363;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.125em;
  line-height: 1.25;
  border-left: 5px solid #333;
  padding: 0 2em;
  margin: 1em 0;
}

@media (min-width: 43.75) {
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}

@media (max-width: 1024px) {
  .csColumn {
    width: 100% !important;
  }
}

ul {
	padding:0;
	margin: 0 0 10px 25px;
}

th {
	text-align: center;
	font-weight: bold;
}

a, a:active {
	color:#d73c2c;
	text-decoration: none;
	-webkit-transition: color 0.35s ease;
	-moz-transition: color 0.35s ease;
	-o-transition: color 0.35s ease;
	transition: color 0.35s ease;
}
a:hover {
	color:#800000;
}

.column{float:left;display:block}

#content img {
	padding: 3px;
	border: 1px solid #eee;
}
#content ul, #content ol {
	margin: 0;
	padding: 0 0 0 40px;
	font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
}
/* Responsive CSS */
@media all and (max-width: 1024px){
	.blog, .headline {
    clear: both !important;
		float: none !important;
		text-align: left !important;
		margin-left: 10% !important;
		margin-right: 10% !important;
		width: 80% !important;
	}

	.headline {
		left:inherit;
	}

	.story-navigation {
		display: none;
	}

	.story-menu {
		left: 10px;
	}
}
